@import "@kv-designsystem/react/green";

* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-feature-settings: "cv05" 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
