.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: minmax(0, 1fr) auto;
  pointer-events: none;
}

.leftColumn {
  grid-column: 1;
  grid-row: 1 / -1;

  .mapControlCard {
    background: rgba(255, 255, 255, 0.94);
    border-radius: 0.5rem;
    padding: 1rem;
    user-select: none;
    max-width: 400px;

    fieldset {
      border: none;
    }
  }
}

.columnContent {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  justify-content: space-between;
  gap: 1rem;
}
