.sidebar {
  display: flex;
  width: 300px;
  flex-shrink: 0;
  padding: var(--ds-size-4) 0;
  flex-direction: column;
  align-items: center;
  gap: var(--ds-size-0);
  align-self: flex-start;
  border-radius: var(--ds-border-radius-lg);
  background: var(--ds-color-surface-default);
}

@media (max-width: 800px) {
  .sidebar {
    display: none;
  }
}

.groupWrapper {
  width: 100%;
}

.divider {
  width: 100%;
  padding: var(--ds-size-5) 0;
  display: flex;
  align-items: center;
}

.divider::before {
  content: "";
  width: 100%;
  margin-inline: var(--ds-size-6);
  height: 1px;
  background: var(--ds-color-border-subtle);
}

.mobilePanel {
  display: flex;
  flex-direction: column;
  padding: var(--ds-size-4) 0;
  gap: var(--ds-size-0);
  width: 100%;
  border-radius: var(--ds-border-radius-lg);
  background: var(--ds-color-surface-default);
  border: 1px solid var(--ds-color-border-subtle);
  margin-top: 1.5rem;
}
