.footer {
  background-color: var(--ds-color-info-text-default);
  color: var(--ds-color-neutral-background-default);
  margin-top: auto;
}

.inner {
  max-width: 1440px;
  margin-inline: auto;
  padding-block: var(--ds-size-30) 12rem;
  padding-inline: var(--ds-size-18);
  display: flex;
  justify-content: space-between;
  gap: var(--ds-size-10);
}

.brand {
  display: grid;
  align-content: start;
  gap: var(--ds-size-10);
}

.tagline {
  font-size: var(--ds-font-size-4);
  display: flex;
  align-items: center;
  gap: var(--ds-size-3);
  margin: 0;
}

.columns {
  display: flex;
  gap: var(--ds-size-26);
}

.heading {
  font-size: var(--ds-body-sm-font-size);
  font-weight: var(--ds-font-weight-semibold);
  margin: 0 0 var(--ds-size-3);
}

.linkList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: var(--ds-size-3);
}

.linkList a {
  color: inherit;
  text-decoration: underline;
}

@media (max-width: 1024px) {
  .inner {
    flex-direction: column;
    align-items: flex-start;
  }

  .columns {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
}

@media (max-width: 800px) {
  .columns {
    flex-direction: column-reverse;
    gap: var(--ds-size-8);
  }
}
