/* Brytepunkter: 1280 / 1024 / 800,
må matche de andre Header-filene */

.panel {
  position: absolute;
  top: 100%;
  inset-inline: 0;
  background: var(--ds-color-neutral-background-default);
  max-height: 80dvh;
  overflow-y: auto;
  overscroll-behavior: contain;
  border-bottom: 1px solid var(--ds-color-neutral-border-subtle);
}

.panelInner {
  max-width: 1440px;
  margin-inline: auto;
  padding: var(--ds-size-6) var(--ds-size-18);
  display: flex;
  flex-direction: column;
}

.menuActions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--ds-size-5);
}

.menuActions :global(.ds-button) {
  --dsc-button-color: var(--ds-color-neutral-text-default);
}

.inMenuFromXl,
.inMenuFromSm {
  /*bytte navn til inMenuFrom800?*/
  display: none;
}

.divider {
  margin-block: var(--ds-size-8);
}

.section,
.linkList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--ds-size-8);
}

.section > li,
.linkList {
  display: grid;
  gap: var(--ds-size-3);
  align-content: start;
}

.linkList a {
  display: flex;
  align-items: center;
  height: var(--ds-size-12);
  padding-inline: var(--ds-size-4);
  color: var(--ds-color-text-subtle);
  border-radius: var(--ds-border-radius-default);
}

.linkList a:hover {
  background: var(--ds-color-surface-active);
  color: var(--ds-color-text-default);
}

.accordions {
  display: none;
}

.accordions :global(.ds-details) {
  --dsc-details-border-color: var(--ds-color-neutral-border-subtle);
  --dsc-details-padding: var(--ds-size-4);
}

.accordions :global(summary) {
  font-size: var(--ds-heading-xs-font-size);
  font-weight: var(--ds-heading-xs-font-weight);
}

.accordions :global(.ds-details:first-child) {
  border-top: 0;
}

@media (max-width: 1280px) {
  .inMenuFromXl {
    display: inline-flex;
  }
}

@media (max-width: 1024px) {
  .section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px) {
  .inMenuFromXl {
    /* Kart og Nedlastingskurv skal
    ikke vises på mobil */
    display: none;
  }

  .inMenuFromSm {
    display: inline-flex;
  }

  .panelInner {
    padding: var(--ds-size-8) var(--ds-size-4);
    gap: var(--ds-size-6);
  }

  .divider {
    margin-block: 0;
  }

  .accordions {
    display: block;
    /* opphever accordions topp-padding så alle visninger får lik avstand fra streken */
    margin-top: calc(-1 * var(--ds-size-4));
  }

  .section {
    display: none;
  }

  .panel {
    /* --header-height er definert i globals.css */
    height: calc(100dvh - var(--header-height-mobile) - 1px);
    max-height: none;
  }
}
