.panel {
  position: absolute;
  top: 100%;
  inset-inline: 0;
  background: var(--ds-color-neutral-background-default);
  max-height: 80dvh;
  overflow-y: auto;
  overscroll-behavior: contain;
}

.panelInner {
  max-width: 1440px;
  margin-inline: auto;
  padding: var(--ds-size-6) var(--ds-size-18);
  display: flex;
  flex-direction: column;
}

.menuActions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--ds-size-5);
}

.menuActions :global(.ds-button) {
  --dsc-button-color: var(--ds-color-neutral-text-default);
}

.tabletOnly,
.belowDesktop,
.mobileOnly {
  display: none;
}

.divider {
  margin-block: var(--ds-size-8);
}

.section,
.linkList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--ds-size-8);
}

.section > li,
.linkList {
  display: grid;
  gap: var(--ds-size-3);
  align-content: start;
}

.linkList a {
  display: flex;
  align-items: center;
  height: var(--ds-size-12);
  padding-inline: var(--ds-size-4);
  color: var(--ds-color-text-subtle);
  border-radius: var(--ds-border-radius-default);
}

.linkList a:hover {
  background: var(--ds-color-surface-active);
  color: var(--ds-color-text-default);
}

.accordions {
  display: none;
}

.accordions :global(.ds-details) {
  --dsc-details-border-color: var(--ds-color-neutral-border-subtle);
  --dsc-details-padding: var(--ds-size-4);
}

.accordions :global(summary) {
    font-size: var(--ds-heading-xs-font-size);
    font-weight: var(--ds-heading-xs-font-weight);
}


@media (max-width: 1000px) {
  .tabletOnly,
  .belowDesktop {
    display: inline-flex;
  }
  .section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .tabletOnly {
    display: none;
  }

  .mobileOnly,
  .belowDesktop {
    display: inline-flex;
  }

  .divider {
    display: none;
  }

  .section {
    display: none;
  }

  .accordions {
    display: block;
    margin-top: var(--ds-size-8);
  }

  .panel {
    height: calc(100dvh - var(--header-height) - 1px);
    max-height: none;
  }

  .panelInner {
    padding: var(--ds-size-8) var(--ds-size-4);
  }

  .menuActions {
    justify-content: center;
  }
}
