.areaBlocks {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-4);
}

.areaBlock {
  position: relative;
  border: 1px solid var(--ds-color-neutral-border-subtle);
  border-radius: var(--ds-border-radius-md);
  padding: var(--ds-size-4);
}

.removeBlockButton {
  position: absolute;
  top: var(--ds-size-2);
  right: var(--ds-size-2);
}

.selectionFields {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-5);
}

.selectionField {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-2);
}

.areaInputButtons {
  display: flex;
  gap: var(--ds-size-2);
}

.addAreaBlockButton {
  align-self: flex-start;
}
