.pageInner {
  margin: 0 auto var(--ds-size-6);
}

.pageInner > :not(:last-child) {
  margin-bottom: var(--ds-size-12);
}

.pageInner > .selectedDatasetsHeading {
  margin-bottom: var(--ds-size-6);
}

.results {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-3);
  width: 100%;
}

.infoSection {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-3);
  max-width: 50rem;
}

.pageInner > .missingSummary {
  margin: var(--ds-size-12) 0;
}
