.headingGroup {
  display: grid;
  gap: var(--ds-size-1);
}

.showMoreButton {
  margin-top: calc(-1 * var(--ds-size-3));
}

.accordionGroup {
  border: 1px solid var(--ds-color-neutral-border-subtle);
  border-radius: var(--ds-border-radius-lg);
  overflow: hidden;
}

.accordionGroup :global(.ds-details) {
  border: none;
  border-bottom: 1px solid var(--ds-color-neutral-border-subtle);
}

.accordionGroup :global(.ds-details:last-child) {
  border-bottom: none;
}

.accordionGroup :global(.ds-details[open] summary) {
  border-bottom: 1px solid var(--ds-color-neutral-border-subtle);
}

.accordionGroup p {
  margin: var(--ds-size-8);
}

.criteriaGroupList {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-3);
}

.criteriaList {
  list-style: none;
  padding-left: 0;
  margin-top: var(--ds-size-3);
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-3);
}

.criteriaItem {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}

.criteriaItem svg {
  flex-shrink: 0;
  width: 1rem;
  height: 1rem;
  margin-top: 0.4rem;
}
