.wrapper {
  margin-top: 2rem;
}

.heading {
  margin-bottom: 1rem;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1rem;
}

/* TODO: style denne */
.loadMoreButton {
  margin-top: 1.5rem;
}
