.wrapper {
  margin-top: 1rem;
}

.heading {
  margin-bottom: 3rem;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1rem;
}

.loadMoreButton {
  margin-top: 1.5rem;
}

.group {
  margin-bottom: 2rem;
}

.groupHeader {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}

.subHeading {
  margin-bottom: 0;
}

.bulkActionButton {
  flex-shrink: 0;
}
