.cardWrapper {
  display: flex;
  gap: 28px var(--ds-size-7);
  flex-wrap: wrap;
}

.card {
  max-width: 355px;
}

.icon {
  width: 50px;
  height: 50px;
  aspect-ratio: 1 / 1;
}

.tagGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
