.cardWrapper {
  display: flex;
  gap: 28px var(--ds-size-7);
  flex-wrap: wrap;
}

.card {
  max-width: 355px;
}

.cardBody {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-3);
  height: 100%;
}

.icon {
  width: 50px;
  height: 50px;
}

.tagGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.cardButtonRow {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-2);
}

.cardButton {
  width: 100%;
}

.cardButton[data-variant="primary"] {
  color: #ffffff;
}

.cardButtonContent {
  display: inline-flex;
  align-items: center;
  gap: var(--ds-size-2);
}

.dateText {
  margin-top: auto;
}

@media (max-width: 600px) {
  /* Sentrer kort på mindre skjermer */
  .cardWrapper {
    justify-content: center;
  }
}

/* Lar tittel wrappe */
.card :global(.ds-heading) {
  overflow-wrap: anywhere;
}

@media (max-width: 450px) {
  /* Reduserer x-padding for å unngå wrap på "Produktspesifikasjon" */
  .cardWrapper .card {
    --dsc-card-padding: var(--ds-size-6) var(--ds-size-4);
  }
}
