.content {
  max-width: 40rem;
  margin-inline: auto;
  padding-inline: var(--ds-size-26);
  padding-top: 4rem;
  padding-bottom: 2rem;
  display: grid;
  gap: var(--ds-size-4);
  justify-items: start;
}
