.content {
  max-width: var(--page-content-max-width);
  margin-inline: auto;
  padding-inline: var(--page-content-padding-inline);
}

.content > div {
  margin: var(--ds-size-10) 0;
}

.metaRow {
  display: flex;
  gap: var(--ds-size-10);
  align-items: flex-start;
}

@media (max-width: 800px) {
  .content {
    padding-inline: var(--page-content-padding-inline-mobile);
  }
  .metaRow {
    flex-direction: column;
  }
}
